doctype html
html
  head
    title Slim Examples
    meta name="keywords" content="template language"
    meta name="author" content="nigel"
    link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'
    link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'
    link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet"
    
    script src="https://cdn.jsdelivr.net/jdenticon/1.3.2/jdenticon.min.js"
    script src="https://cdn.jsdelivr.net/js-md5/0.3.0/md5.min.js"

    css:
      body { background-color: white; 
            }
      .story {
            display: block;
            height: 240px;
            width: 360px;
            border: 2px solid black;
            padding-left: 10px;
            background-color: #8fff96;
            -webkit-print-color-adjust: exact;
            page-break-inside: avoid;
            float:left;
      }
      h1   {
              color: #00c12b;  
              font-family: 'Russo One', sans-serif;
              font-size: 20pt;
              margin-bottom: 0;
              margin-top: 10px;
              margin-right: 10px;
              float:right;
           }
      h2   {
              color: black;  
              font-family: 'Nunito', sans-serif;
              font-size: 15pt;
              margin-top: 0px;
              overflow: hidden;
              text-overflow: ellipsis;
           }
      h3   {
              color: black;  
              font-family: 'Nunito', sans-serif;
              font-size: 20pt;
              position: relative;
              top: -20px;
              left: 0px;
              float:right;
           }           
      svg {
            background-color: white;
            margin-top: 7px;
            position: relative;
            top: 0;
            left: 0;
      }
      img {
        margin-top: 5px;
      }

  body
    #content
      - @index = 0
      - @cfrom ||= '#8fff96'
      - @cto ||= '#968fff'
      - @issues.each.with_index do |issue, index|
        - @bgcol = gradiate_color(@cfrom, @cto, (index.to_f / @issues.count))
        - # /
        div.story style="background-color: #{@bgcol};" 
          h3 = (issue.respond_to?(:customfield_10232) && issue.customfield_10232.to_i > 0) ? "[#{issue.customfield_10232.to_i}]" : "[__]"

          img src="/qr?key=#{issue.key}"
          
          h1 style="color: #{highlight_color(@bgcol)};"
            = issue.key
          h2 = issue.summary

          